<header class="bg-dark text-white fixed-top mb-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/inicio" class="nav-link px-4 text-white">Inicio</a></li>                
                <li><a routerLink="/inicio/cadenalarga" class="nav-link px-4 text-white">Cadena Larga</a></li>
                <li><a routerLink="/inicio/info" class="nav-link px-4 text-white">Ver Codigo</a></li>
            </ul>
        </div>
    </div>
</header>
<br><br>
<router-outlet></router-outlet>
<footer class="d-flex flex-wrap justify-content-between align-items-center border-top fixed-bottom">
    <p class="col-md-4 mb-0 text-muted">Test for Emerios | © 2021 Pablo Veliz</p>
</footer>