<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <p><b>Angular + Bootstrap</b></p>
            <p>Para la solución del problema utilicé un algoritmo que recorriera uno por uno los caracteres de la
                matriz,
                y por cada uno de ellos realicé una búsqueda recursiva en 8 direcciones.
                <br> <br>
                Luego de terminar la busqueda recursiva de cada elemento se evalua si fue la mayor cantidad de veces
                encontrada.
            </p>
            <hr>
            <h4>Función Recorrer Array</h4>
            <pre class="mt-0 borderOfCode">
                <code [highlight]="processCode" [languages]="['typescript']"></code>
            </pre>
            <h4>Función recursiva</h4>
            <pre class="mt-0 borderOfCode">
                <code [highlight]="recursiveCode" [languages]="['typescript']"></code>
            </pre>
        </div>
    </div>
</div>