<div class="px-4 py-5 my-5 text-center">    
    <h1 class="display-5 fw-bold">Cadena Larga</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sea una matriz cuadrada de dos dimensiones, de caracteres (cualquiera), devuelva la cadena de caracteres adyacentes iguales más larga. Debe buscar en vertical, diagonal y horizontal.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button routerLink="/inicio/cadenalarga" class="btn btn-primary btn-lg px-4 gap-3">Continuar</button> 
        </div>
    </div>
</div>

<router-outlet></router-outlet>