<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h4>Seleccione una opción: </h4>
            <select class="form-control" (change)="onChange($event.target.value)">
                <option value="seleccione" selected>-- Seleccione --</option>
                <option value="manual-input">Entrada Manual</option>
                <option value="process-file">Subir Archivo .txt / .csv</option>
                <option value="generate-random">Generación de Matriz Aleatoria</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="selectedOption != 'seleccione'">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>